{% extends './layout.html' %}
{% block body%}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    Registro
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Enter Username">
                    <input class="input100" type="text" name="username" placeholder="Username">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span> 
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Enter Email">
                    <input class="input100" type="text" name="Email" placeholder="Email">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Enter telefono">
                    <input class="input100" type="text" name="telefono" placeholder="telefono">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="pass" placeholder="Password">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <p style="color: #fff">Sexo:
                    <input type="radio" name="hm" value="h" required> Hombre
                    <input type="radio" name="hm" value="m"> Mujer
                  </p>
                  <br>

                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        Remember me
                    </label>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Registro
                    </button>
                </div>

                <div class="text-center p-t-90">
                    <div >

                        <a class="txt1" href="indexlogin">
                            log in
                        </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
{%endblock%}