{% extends './layoutReport.html' %} {% block body%}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a href="#" class="navbar-brand"><span class="text-primary">hdv</span>pc</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarS"
      aria-controls="navbarS"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarS">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="indexhome" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="indexreport" class="nav-link">crear</a>
        </li>
        <li class="nav-item">
          <a href="#scrollspyHeading3" class="nav-link">guia</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">servicios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="d-flex">
  <div class="container report mb-5">
    <div class="row">
      <h1 class="text-center">Formulario de Reporte de PC</h1>
      <hr />

      <form id="formulario" class="row g-3">
        <h1 class="text-uppercase lead">clientes</h1>
        <div class="input-container">
          click aqui para subir una foto
          <input type="file" class="form-control" id="archivo" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Numero de identificacion:</label>
          <input type="text" class="form-control" id="id" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Nombre completo:</label>
          <input type="text" class="form-control" id="namecliente" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Telefono:</label>
          <input type="number" class="form-control" id="telecliente" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Direccion:</label>
          <input type="text" class="form-control" id="direccioncliente" />
        </div>

        <div class="col-md-6">
          <label class="form-label">Genero:</label>
          <select id="generos" class="form-select">
            <option selected>Choose...</option>
            <option value="1">masculino</option>
            <option value="2">femenino</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Tipo de documento:</label>
          <select id="documento" class="form-select">
            <option selected>Choose...</option>
            <option>tarjeta de identidad</option>
            <option>cedula de ciudadania</option>
          </select>
        </div>

        <div class="col-md-3">
          <button
            type="submit"
            class="btn btn-primary d-inline-block mr-3"
            id="ok"
            onclick="guardar_cliente();prevenir()"
          >
            Registrar
          </button>
        </div>
        <div class="col-md-5 mb-5">
          <button
            type="submit"
            class="btn btn-danger d-inline-block ml-2"
            id="ok"
            onclick="limpiarcliente()"
          >
            Limpiar
          </button>
        </div>
        <h1 class="text-uppercase lead">Pcs</h1>
        <div class="col-md-6">
          <label class="form-label">Marca:</label>
          <input type="text" class="form-control" id="marca" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Serie:</label>
          <input type="text" class="form-control" id="serie" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Capacidad Ram:</label>
          <input type="text" class="form-control" id="ram" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Tarjeta grafica:</label>
          <input type="text" class="form-control" id="tarjetagra" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Capacidad disco duro:</label>
          <input type="text" class="form-control" id="discoduro" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Procesador:</label>
          <input type="text" class="form-control" id="procesador" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Sistema operativo:</label>
          <input type="text" class="form-control" id="sistemaop" />
        </div>

        <div class="col-md-6 mb-3">
          <label>Fecha:</label>
          <input id="fecha" type="date" class="form-control" />
        </div>

        <div class="col-md-3">
          <button
            id="ok"
            type="submit"
            class="btn btn-primary d-inline-block mr-2"
            onclick="guardar_pc();prevenir()"
          >
            Registrar
          </button>
        </div>
        <div class="col-md-5 mb-5">
          <button
            type="submit"
            class="btn btn-danger d-inline-block ml-2"
            id="ok"
            onclick="limpiarpc()"
          >
            Limpiar
          </button>
        </div>
        <h1 class="text-uppercase lead">reporte</h1>
        <div class="col-md-6">
          <label class="form-label">Identificacion del reporte:</label>
          <input type="text" class="form-control" id="report" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Identificacion del cliente:</label>
          <input type="text" class="form-control" id="clientes" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Identificacion del pc:</label>
          <input type="text" class="form-control" id="pcs" />
        </div>

        <div class="col-md-6">
          <label class="form-label">Identificacion del administrador:</label>
          <input type="text" class="form-control" id="admin" />
        </div>
        <div class="col-md-6">
          <label class="form-label">estado:</label>
          <input type="text" class="form-control" id="estado" />
        </div>
        <div class="col-12">
          <label class="form-label">programas instalados:</label>
          <textarea id="programas" onkeyup="showText(event)" class="form-control" rows="3"></textarea>
        </div>
        <div class="col-12">
          <label class="form-label">Observaciones:</label>

          <textarea id="observaciones" class="form-control" rows="3"></textarea>
        </div>

        <div class="col-md-6">
          <label>Fecha de inicio:</label>
          <input type="date" class="form-control" id="fechaini" />
        </div>
        <div class="col-md-6 mb-3">
          <label>Fecha de fin:</label>
          <input type="date" class="form-control" id="fechaend" />
        </div>
        <div class="col-md-3">
          <button
            id="ok"
            type="submit"
            class="btn btn-primary d-inline-block mr-2"
            onclick="prevenir();guardar_reportes()"
          >
            Registrar
          </button>
        </div>
        <div class="col-md-3">
          <button
            type="submit"
            class="btn btn-danger d-inline-block ml-2"
            id="ok"
            onclick="limpiarReportes() "
          >
            Limpiar
          </button>
        </div>
        <div class="col-md-3">
          <button
            type="submit"
            class="btn btn-success d-inline-block ml-2"
            id="mos"
            onclick="prevenir();mostrarDataClients();buscarAdmin();mostrarDataPcs();mostrarDataReports()"
          >
            mostrar
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container dos">
      <div class="row"id="container-hvpc">
        <div >
          <div class="header mb-5">
            <h1>HDVPC</h1>
          </div>
          <div class="text-center mb-3">
            <h3 id="nomClient">carlos jose</h3>
            <p>administrador</p>
            <hr />
          </div>
          <div class="container">
            <div class="row">
              <div class="text-center mb-3">
                <h4 class="mb-3 text-center">
                  <strong>Información del cliente</strong>
                </h4>
              </div>
              <div class="col-md-6 offset-md-3 text-center mb-3">
                <img
                  src="#"
                  id="preview"
                  alt="Foto"
                  class="img-fluid rounded-circle"
                  style="width: 150px"
                />
              </div>

              <div class="col-md-6">
                <h3><strong> Identificacion del usuario: </strong></h3>
                <p id="ident"></p>
              </div>

              <div class="col-md-6">
                <h3><strong> Nombre completo: </strong></h3>
                <p id="nom"></p>
              </div>
              <div class="col-md-6">
                <h3><strong> Tipo de documento: </strong></h3>
                <p id="documents"></p>
              </div>
              <div class="col-md-6 mb-3">
                <h3><strong> Dirección: </strong></h3>
                <p id="direcc"></p>
              </div>
              <div class="col-md-6 mb-3">
                <h3><strong> Telefono: </strong></h3>
                <p id="tel"></p>
              </div>
            </div>
          </div>
          <hr />
          <div class="container">
            <div class="row">
              <div class="text-center mb-3">
                <h4><strong>Información del pc</strong></h4>
              </div>
              <div class="col-md-6">
                <h3><strong> Identificacion del pc : </strong></h3>
                <p id="idpc"></p>
              </div>
              <div class="col-md-6">
                <h3><strong> marca: </strong></h3>
                <p id="marc">(123) 456-7890</p>
              </div>
              <div class="col-md-6">
                <h3><strong> serie: </strong></h3>
                <p id="ser"></p>
              </div>
              <div class="col-md-6">
                <h3><strong> Capacidad ram: </strong></h3>
                <p id="capaciram"></p>
              </div>
              <div class="col-md-6">
                <h3><strong> Tarjeta grafica: </strong></h3>
                <p id="targrafi"></p>
              </div>
              <div class="col-md-6">
                <h3><strong> Disco duro: </strong></h3>
                <p id="discd"></p>
              </div>
              <div class="col-md-6">
                <h3><strong> Procesador: </strong></h3>
                <p id="proc"></p>
              </div>
              <div class="col-md-6">
                <h3>
                  <strong> Sistema operativo: </strong>
                  <p id="sistemo"></p>
                </h3>
              </div>
              <div class="col-md-6 mb-3">
                <h3><strong> Fecha de adquisicion: </strong></h3>
                <p id="fecha_ad"></p>
              </div>
            </div>
          </div>
          <hr />
          <div class="container">
            <div class="row">
              <div class="text-center mb-3">
                <h4><strong>Informe del reporte del pc</strong></h4>
              </div>

              <div class="col-md-6">
                <h3><strong> Estado del pc: </strong></h3>
                <p id="estatus">whdfeifhefihf</p>
              </div>

              <div class="col-md-6">
                <h3><strong>observaciones del pc</strong></h3>

                <p id="observations">Cargo: Descripción del cargo</p>
              </div>
              <div class="col-md-6">
                <h3><strong>programas instalados</strong></h3>
                <p id="programasins">Descripción del cargo</p>
              </div>

              <div class="col-md-6">
                <h3><strong> fecha de inicio: </strong></h3>
                <p id="fechain">whdfeifhefihf</p>
              </div>
              <div class="col-md-6">
                <h3><strong> fecha de fin: </strong></h3>
                <p id="fechaf">whdfeifhefihf</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center" style="margin-top: 800px">
  <button
    id="download"
    type="submit"
    class="btn btn-primary"
    onclick="prevenir();genPDF()"
  >
    Descargar
  </button>
</div>
<footer class="bg-dark p-2 text-center">
  <div class="container">
    <p class="text-white">
      © Todos los derechos reservados :: cam :: colombia 2023
    </p>
  </div>
</footer>

<script src="{{url_for('static', filename='js/hdvjs/report.js')}}"></script>

{%endblock%}
