.container.report {
background-color: #fff;
    margin-left: 1px;
    max-width: 600px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }

  .container.dos {
    background-color: #fff;
    margin-top: 100px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin-right: 1px;
  }

  .header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }

  h1, h3, h4, h5 {
    color: #333;
  }

  img {
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li {
    margin-bottom: 10px;
  }

  hr {
    border-color: #ccc;
  }

.section-padding.report{
  padding: 30px ;
  


  }

.input-container{
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
  position: relative;
  color: rgb(82, 78, 78);
  cursor: pointer;
  border: 2px dashed rgb(138, 134, 134);
  border-radius: 20px;
  display: inline-block;

}  

.input-container [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}