body{

background: rgb(175, 199, 255);

}

.section-padding{
padding: 90px 0;

}

.carousel-item{
height: 80vh;
min-height:300px;
}
.carousel-caption{
bottom: 200px;
z-index: 2;
}

.carousel-caption h5{

font-size: 45px;
text-transform: uppercase;
letter-spacing: 2px;
margin-top: 25px;

}

.carousel-caption p{
width: 60%;
margin: auto;
font-size: 18px;
line-height: 1.9;

}

.carousel-inner::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(0, 30, 82, 0.327);
z-index: 1;

}

.navbar-nav a{
font-size: 15px;
text-transform: uppercase;
font-weight: 500;

}

.navbar-dark .navbar-brand{
color: #fff;
font-size: 25px;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 2px;


}

.w-100{
height: 100vh;

}


.navbar-toggler{
padding: 1px 5px ;
font-size: 18px;
line-height: 0.3;

}

.services .card-body i{
font-size: 50px;

}

@media(max-width: 767px){
.navbar-nav{
    text-align: center;
}
.carousel-item{
    height: 70vh;
}
.w-100{
    height: 70vh;
}
.carousel-caption{
bottom: 125px;

}
.carousel-caption h5{
font-size: 17px;

}
.carousel-caption a{
padding: 10px 15px;
font-size: 15px;

}
.carousel-caption p{
    width: 100%;
    line-height: 1.5;
    font-size: 12px;
}
.about-text{
padding-top: 50px;

}
.card{
    margin-bottom: 30px;
    
}
.section-padding{
    padding: 30px 0;
}

}
p.text-white{
font-size: 12px;

}

.portafolio-padding{
    padding: 300px 80px;
}

<<<<<<< HEAD
h3{
color: rgb(182, 182, 182);

}

div.container-fluid{
justify-content: left;
display: flex;
margin-left: 70px;
}



div.container-fluid.dos{
    margin-top: 200px;
  
    justify-content: right;
    display: flex;
    }
=======
.container-fluid.one{
padding: 90px 0; 

}

.container-fluid.two{
padding: 90px 0; 
    
    }

.container-fluid.tree{
padding: 90px 0; 
background-color: bisque;
        
}

.custom-container{
padding:60px;
background-color: blueviolet;
margin-left: 50%;



}

.imagen{

    background-color: aquamarine;
}

>>>>>>> 6002d8853788743f8e53d1857bf4270f934ecdb9
